@model DescricaoModel
@{
    ViewBag.Title = "Descricao";
}


<h2 class="text-center">@Model.Nome</h2>
<div class="text-center">
    @Model.Descricao
    @Model.Categoria
</div>
@Model.Imagem
@Model.Video