@model DescricaoModel
@{
    ViewBag.Title = "Descricao";
}


<h2 class="text-center">@Model.Nome</h2>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th style="width:40%">Jogo</th>
            <th style="width:30%">Categoria</th>
            <th style="width:30%">Descricao</th>
            <th style="width:30%">Imagem</th>
            <th style="width:30%">Video</th>
        </tr>
    </thead>
    <tr>
        <td>@Model.Descricao</td>
        <td>@Model.Categoria</td>
        <td>@Model.Descricao</td>
        <td>@Model.Imagem</td>
        <td>@Model.Video</td>
    </tr>

</table>
<div class="text-center">
    @Model.Descricao
    @Model.Categoria
</div>
@Model.Imagem
@Model.Video